.navbar{
    background-color: rgb(0, 0, 0, 0.3);
}
.banner{
    position: relative;
}
.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
}
.banner-content i{
    color: white;
    font-size: 15px;
    border: 15px solid red;
    background-color: red;
    border-radius: 50%;
    margin: 5px;
    
}
.banner-content i:hover{
    transform: scale(1.33);
}
.section3 .col-md-6{
    position: relative;
}
.section3 .img-fluid{
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.section3 .img-fluid:hover{
    transform: scale(1.2) rotate(5deg);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.9); 
}
.container .card:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 40px rgb(100, 100, 100);
     transition: all 1.5s ease;
}
.section6{
    background-color:#ECECEC ;
}
.section6 .col-md-2 img:hover{
    transform: scale(1.1);
}
.section6 h5{
    color: red;
}
.section6 h6{
    color: green;
}
.section6 .col-md-10{
  text-align: right;
}
.section5 h6{
    color: green;
}
.section7 h1{
    color: green;
    font-weight: lighter;
}
.section7 h5{
    color: #8E152D;
}
.section7 p{
   color: #768A94;
}
.section7 i{
    color: white;
    border: 6px solid #C50E22;
     background-color: #C50E22;
}
.input-group i{
    padding: 5px;
 }
 
  